*.pt
*.gif
*.png
*.pyc
*.gz
mgltools_x86_64Linux2_1.5.6
/data1/tgy/GA_llm/output
/data1/tgy/GA_llm/fragment_GPT/output
/data1/tgy/GA_llm/autogrow/output
/data1/tgy/GA_llm/output_1
/data1/tgy/GA_llm/datasets/decompose/decompose_results
/data1/tgy/GA_llm/autogrow
/data1/tgy/GA_llm/fragment_GPT
/data1/tgy/GA_llm/output_2
/data1/tgy/GA_llm/output_3
/data1/tgy/GA_llm/output_reducegpt
/data1/tgy/GA_llm/output_test
*.smi
/output
/output_1
/output_2
/output_3
/output_reducegpt
/output_test
*.pdb
*.pdbqt
*.log
*.txt
*.pdb_temp
fragment_GPT/weights/checkpoint_330000.pth
*.pth
*.pkl
fragment_GPT/log/events.out.tfevents.*
fragment_GPT/oracle/*.pkl
fragment_GPT/oracle/smina.static
datasets/decompose/decompose_results/*.smi
*.txt
/datasets
.vscode