*.pt
*.gif
*.png
*.pyc
*.gz
mgltools_x86_64Linux2_1.5.6
/output
/fragment_GPT/output
/autogrow/output
/datasets/decompose/decompose_results
/autogrow
/fragment_GPT
/output_*
*.smi
*.pdb
*.pdbqt
*.log
*.txt
*.pdb_temp
fragment_GPT/weights/checkpoint_330000.pth
fragment_GPT/weights/fragpt.pt
*.pth
*.pkl
fragment_GPT/log/events.out.tfevents.*
fragment_GPT/oracle/*.pkl
fragment_GPT/oracle/smina.static
datasets/decompose/decompose_results/*.smi
*.txt
/datasets
.vscode
*.sh
batch_*
autogrow4.0/*
